@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MonVM

<h1>Chỉnh sửa </h1>

<form method="post" asp-action="Edit" asp-controller="Mon" enctype="multipart/form-data">
    <input asp-for="MonId" type="hidden" class="form-control" />
    <div class="form-group">
        <label> Môn: </label>
        <input asp-for="MonName" class="form-control" />
        <span asp-validation-for="MonName" class="text-danger small"></span>
        <label> Bộ Môn ID: </label>
        <input asp-for="BoMonId" class="form-control" />
        <span asp-validation-for="BoMonId" class="text-danger small"></span>
        <label> Bộ Môn: </label>
        <input asp-for="BoMonName" class="form-control" />
        <span asp-validation-for="BoMonName" class="text-danger small"></span>
        <label> Giáo Viên ID: </label>
        <input asp-for="GiaoVienId" class="form-control" />
        <span asp-validation-for="GiaoVienId" class="text-danger small"></span>
        <label> Giáo Viên: </label>
        <input asp-for="GiaoVienName" class="form-control" />
        <span asp-validation-for="GiaoVienName" class="text-danger small"></span>
     
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
