@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DiemDanhVM

<h1>Chỉnh sửa</h1>

<form method="post" asp-action="Edit" asp-controller="DiemDanh" enctype="multipart/form-data">
    <input asp-for="DiemDanhId" type="hidden" class="form-control" />
    <div class="form-group">
        <label>Môn: </label>
        <input asp-for="MonName" class="form-control" />
        <span asp-validation-for="MonName" class="text-danger small"></span>
        <label>Ngày: </label>
        <input asp-for="Ngay" class="form-control" />
        <span asp-validation-for="Ngay" class="text-danger small"></span>
        <label>Tiết: </label>
        <input asp-for="Tiet" class="form-control" />
        <span asp-validation-for="Tiet" class="text-danger small"></span>
        <label>Học Sinh: </label>
        <input asp-for="HocSinhName" class="form-control" />
        <span asp-validation-for="HocSinhName" class="text-danger small"></span>
    </div>

    <button type="submit" class="btn btn-primary">Xác nhận</button>
</form>
