@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ThongBaoVM

<h1>Thêm Thông Báo mới</h1>

<form method="post" asp-action="Create" asp-controller="ThongBao" enctype="multipart/form-data">

    <div class="form-group">
        <label>ID: </label>
        <input asp-for="ThongBaoId" class="form-control" />
        <label>Tên Thông Báo: </label>
        <input asp-for="ThongBaoName" class="form-control" />
        <label>Thông Tin: </label>
        <input asp-for="ThongTin" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Xác nhận</button>
</form>
